
html{
  width:  100%;
  height: 100%;
}

:root {
  --trim1: orange;
  --trim2: cyan;
  --absoluteHeight: 360px;
}

body {
    background-image: url(../img/background.jpg);
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.screen{
  width: 1280px;
  height: 360px;
}

.gradient{
  top: 0px;
  left: 0px;
  opacity: 10%;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-image: linear-gradient(to bottom right, black, var(--trim2));
  z-index: 0;
}

/*Tacometer
__________ __________    _____ ______
\______   \\______   \  /     \     \
 |       _/ |     ___/ /      \      \
 |    |   \ |    |    /    |     /   |
 |____|_  / |____|    \____\   /____|
        \/                   \/
*/

.circles{
  top:10px;
  left:10px;
  position:absolute;
  width: 360px;
  height: 360px;
}
.circle {
    top: 20%;
    left: 20%;
    height:60%;
    width:60%;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    z-index: 5;
    opacity: 100%;
    text-align: center;
    border: 2px solid var(--trim1);
}

.tac{
  top:10px;
  left:11px;
  position:absolute;
  width: 340px;
  height: 340px;
  opacity: 70%;
  z-index: 3;
}

.halfCircle {
    top: 0%;
    left: 50%;
    height: 100%;
    width: 50%;
    opacity: 100%;

    position: absolute;
    border-bottom-right-radius: 180px; /* 1/2 of height + 10px of border */
    border-top-right-radius: 180px; /* 1/2 of height + 10px of border */
    border: 2px solid var(--trim1);
    z-index: 4;
}

.halfCircleBackground {
    top: 0%;
    left: 50%;
    height: 100%;
    width: 50%;
    opacity: 75%;

    position: absolute;
    border-bottom-right-radius: 180px; /* 1/2 of height + 10px of border */
    border-top-right-radius: 180px; /* 1/2 of height + 10px of border */
    border: 2px solid var(--trim1);
    background-color: black;
    z-index: 2;
}

.rpm {
    font-weight: 200;
    font-size: 60px;
    line-height: normal;
    color: #fff;
    font-variant-numeric: lining-nums;
    font-family: calamity;
}
.rpmSmall {
    text-align: center;
    font-weight: 200;
    font-size: 30px;
    line-height: normal;
    color: #fff;
    font-family: sabre;
}

.blueCircle{
  top:0%;
  left:0%;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 25%;
  position: relative;
  animation: spinInv 80s infinite linear;
  background-repeat: no-repeat;
}

.cyanCircle{
  top:0%;
  left:0%;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 20%;
  position: absolute;
  animation: spin 50s infinite linear;
  background-repeat: no-repeat;
}

.whiteCircle{
  top:0%;
  left:0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 30%;
  position: absolute;
  animation: spinInv 40s infinite linear;
  background-repeat: no-repeat;
}
/* speedo*/
.circles2{
  top:10px;
  left:520px;
  position:absolute;
  width: var(--absoluteHeight);
  height: var(--absoluteHeight);
}
.spinning{
  width: 100%;
  height: auto;
}

/* temp*/
.speedo {
    top: 10px;
    left: 380px;
    height:180px;
    width:180px;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    z-index: 5;
    opacity: 100%;
    text-align: center;
    border: 2px solid var(--trim1);
}

.orbitCircle1{
  top: 10px;
  left: 200px;
  z-index: 0;
  width: 370px;
  height: 180px;
  opacity: 30%;
  position:absolute;
  border: 2px solid var(--trim2);
  border-bottom-right-radius:90px;  /* 100px of height + 10px of border */
  border-top-right-radius: 90px;
}
.orbitCircle2{
  top: 10px;
  left: 180px;
  z-index: 0;
  width: 500px;
  height: 360px;
  opacity: 30%;
  background-color: black;
  position:absolute;
  border: 2px solid var(--trim2);
  border-bottom-right-radius:180px;  /* 100px of height + 10px of border */
  border-top-right-radius: 180px;
}

/*popup
__________ ________   __________  ____ ___ __________
\______   \\_____  \  \______   \|    |   \\______   \
 |     ___/ /   |   \  |     ___/|    |   / |     ___/
 |    |    /    |    \ |    |    |    |  /  |    |
 |____|    \_______  / |____|    |______/   |____|
                   \/
*/

.popupOn{
  top:10%;
  left:5%;
  height: 80%;
  width: 90%;
  opacity: 90%;
  font-family: sabre;
  position:absolute;
  background-color: black;
  border: 2px solid var(--trim1);
  z-index: 200;
  animation: popupFadeIn .2s;
}
.popupOff{
  opacity: 0%;
  top:0%;
  left:0%;
  position:absolute;
  z-index: 0;
}
.popupBackground1{
  width: 100%;
  height: 10%;
  position: absolute;
  top: 0px;
}
.popupBackground2{
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0px;
}
.progress-bar-warning {
      background-color: var(--trim1) !important;
}
.popupHeader{
  position: absolute;
  top:40%;
  left:5%;
  width: 90%;
  background-color: var(--trim1);
  font-size: 60px;
  font-family: mech;
  text-align: center;
  animation: blinker .5s linear infinite;
  z-index: 50;
}

.warningFiller{
  position: absolute;
  top: 10%;
  color: grey;
}


/*Warning flashers
 __      __                         .__
/  \    /  \_____   _______   ____  |__|  ____     ____
\   \/\/   /\__  \  \_  __ \ /    \ |  | /    \   / ___\
\        /  / __ \_ |  | \/|   |  \|  ||   |  \ / /_/  >
 \__/\  /  (____  / |__|   |___|  /|__||___|  / \___  /
      \/        \/              \/          \/ /_____/
*/
.waringSmall{
  position: absolute;
  top: 300px;
  height: 70px;
}

.warningsOn{
  animation: blinker .5s linear infinite;
}
.warningsOff{
  animation: none;
  opacity: 0%;
}

.waringSmaller{
  position: absolute;
  top: 0px;
  left: 95px;
  height: 30px;
}

.waringSmaller2{
  position: absolute;
  top: 300px;
  left: 820px;
  height: 60px;
}

.warningText{
  font-size:20px;
  position: absolute;
  color: var(--trim1);
  width: 300px;
  height: 20px;
  top:0;
  left:530px;
  font-family: mech;
}

/*Debug
________   _____________________  ____ ___   ________
\______ \  \_   _____/\______   \|    |   \ /  _____/
 |    |  \  |    __)_  |    |  _/|    |   //   \  ___
 |    `   \ |        \ |    |   \|    |  / \    \_\  \
/_______  //_______  / |______  /|______/   \______  /
        \/         \/         \/                   \/
*/

.num {
    text-align: center;
    font-weight: 200;
    font-size: 30px;
    line-height: normal;
    color: #fff;
    font-family: calamity;
}

.debug{
  top:200px;
  left: 380px;
  height: 170px;
  width: 290px;
  font-family: monospsace;
  font-size: 20px;
  position:absolute;
  background-color: black;
  border: 2px solid var(--trim1);
  z-index: 4;
}

.misc{
  color: white;
}

.buttonBox{
  top:10px;
  right:5px;
  height: var(--absoluteHeight);
  width: 60px;
  position:absolute;
  background-color: black;
  border: 2px solid var(--trim1);
  vertical-align: middle;
}

.sidebar{
  width: 55px;
  height: 55px;
  background-color: black;
  border: 2px solid var(--trim1);
  color: var(--trim1);
  font-family: mech;
}

/* model*/
.Specs{
  width: 250px;
  height: 210px;
  left: 900px;
  top: 10px;
  position: absolute;
}

.model{
  height: 100%;
  width: auto;
  border: 2px solid var(--trim1);
}

.loadingbar{
  height: 100%;
  width: 80%;
  background-color: var(--trim1);
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.loadBackground{
  height: 20px;
  width: 100%;
  background-color: black;
  border: 2px solid var(--trim1);
}





/*Fonts
___________________    _______   ___________  _________
\_   _____/\_____  \   \      \  \__    ___/ /   _____/
 |    __)   /   |   \  /   |   \   |    |    \_____  \
 |     \   /    |    \/    |    \  |    |    /        \
 \___  /   \_______  /\____|__  /  |____|   /_______  /
     \/            \/         \/                    \/
*/
@font-face {
    font-family: sabre;
    src: url(../fonts/sabreshark.ttf);
}
@font-face {
    font-family: mexon;
    src: url(../fonts/Mexon.ttf);
}
@font-face {
    font-family: mech;
    src: url(../fonts/Mechsuit.otf);
}
@font-face {
    font-family: glitch;
    src: url(../fonts/Glitch_inside.otf);
}
@font-face {
    font-family: calamity;
    src: url(../fonts/Calamity.otf);
}

/* keyframes
____  __.________________.___.
|    |/ _|\_   _____/\__  |   |
|      <   |    __)_  /   |   |
|    |  \  |        \ \____   |
|____|__ \/_______  / / ______|
       \/        \/  \/
*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes spinInv {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
@keyframes popupFadeIn {
  0% {
    opacity:0;
    width: 0px;
    height: 0px;
  }
  100% {
    opacity:.9;
    width: 90%;
    height: 80%;
  }

  0% {
  top: 0;
}
}

@keyframes scroll {
0% {
left: 100%;
75% {
left: -200%;
}
}
